.music-player {
    width: 460px;
    max-width: 100%;
    position: relative;
    margin: 0 auto;
    background-color: #4158d0;
    background-image: radial-gradient(
        circle 588px at 31.7% 40.2%,
        rgba(225, 200, 239, 1) 21.4%,
        rgba(163, 225, 233, 1) 57.1%
    );

    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);

    &.playing {
        & .dashboard__icon-pause {
            display: block !important;
        }
        & .dashboard__icon-play {
            display: none !important;
        }
    }
}

.dashboard {
    max-width: 460px;
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 100%;
    padding: 20px;

    background-color: #4158d0;
    background-image: radial-gradient(
        circle 588px at 31.7% 40.2%,
        rgba(225, 200, 239, 1) 21.4%,
        rgba(163, 225, 233, 1) 57.1%
    );
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);

    &__title {
        text-align: center;
        color: #ef3679;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 150%;
    }

    &__heading {
        margin-top: 4px;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 150%;
    }

    &__cd {
        margin: 20px auto 0;
        width: 220px;

        border-radius: 50%;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
            rgba(17, 17, 26, 0.1) 0px 8px 24px,
            rgba(17, 17, 26, 0.1) 0px 16px 56px;

        // animation: spinner 10s linear infinite;
        transition: width, opacity;
        transition-duration: 0.2s;
    }

    &__thumb {
        width: 100%;
        padding-top: 100%;
        background: url(../../assets/imgs/music-item-img-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
    }

    &__control {
        padding: 20px 40px 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        &:hover {
            cursor: pointer;
        }
    }

    &__icon {
        width: 24px;
        height: 24px;
        transition: opacity 0.25s;
        filter: brightness(0) saturate(100%) invert(48%) sepia(58%)
            saturate(306%) hue-rotate(206deg) brightness(87%) contrast(92%);

        &:hover {
            opacity: 0.9;
        }

        &-play {
            width: 60px;
            height: 60px;
            transition: opacity 0.25s;
            filter: var(--filter-primary);

            &:hover {
                opacity: 0.9;
            }
        }

        &-pause {
            filter: var(--filter-primary);
            display: none;
            width: 60px;
            height: 60px;
        }
    }
}

.progress {
    margin-top: 20px;
    width: 100%;
    height: 8px;
    background-color: #ebebeb;
    border-radius: 999px;
    display: flex;

    outline: none;
    -webkit-appearance: none;
    appearance: none;
}

.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 8px;
    background: #ef3679;
    border-radius: 999px;
    cursor: pointer;
}

.progress::-moz-range-thumb {
    width: 25px;
    height: 8px;
    background: #ef3679;
    border-radius: 999px;
    cursor: pointer;
}

// Music list
.music-bottom {
    padding-top: 455px;
}

.music-item {
    margin: 8px auto 0;
    padding: 14px 18px 14px 14px;
    width: 94%;

    display: flex;
    align-items: center;
    gap: 20px;

    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &__img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%;
    }

    &__title {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 140%;
    }

    &__desc {
        max-width: 220px;
        margin-top: 4px;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 140%;
        text-transform: uppercase;
    }

    &__setting {
        margin-left: auto;
        width: 24px;
        height: 24px;
    }
}
