/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --filter-primary: brightness(0) saturate(100%) invert(33%) sepia(49%)
      saturate(4823%) hue-rotate(320deg) brightness(99%) contrast(90%);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  background-image: url(../imgs/body-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes spinner {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
.music-player {
  margin: 0 auto 10px;
  padding: 0 14px 14px;
  width: 460px;
  max-width: 100%;
  position: relative;
  background-color: #4158d0;
  background-image: radial-gradient(circle 588px at 31.7% 40.2%, rgb(225, 200, 239) 21.4%, rgb(163, 225, 233) 57.1%);
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.music-player.playing .dashboard__icon-pause {
  display: block !important;
}
.music-player.playing .dashboard__icon-play {
  display: none !important;
}

.btn {
  padding: 0 18px;
}
.btn-random.active, .btn-repeat.active {
  filter: var(--filter-primary);
}

.dashboard {
  max-width: 460px;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 50%;
  translate: -50.1% 0;
  width: 100%;
  background-color: #4158d0;
  background-image: radial-gradient(circle 588px at 31.7% 40.2%, rgb(225, 200, 239) 21.4%, rgb(163, 225, 233) 57.1%);
  background-color: red;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
.dashboard__title {
  text-align: center;
  color: #ef3679;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}
.dashboard__heading {
  margin-top: 4px;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 150%;
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  .dashboard__heading {
    color: transparent;
    background-color: #4158d0;
    background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.dashboard__cd {
  margin: 20px auto 0;
  width: 220px;
  border-radius: 50%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  transition: width, opacity;
  transition-duration: 0.2s;
}
.dashboard__thumb {
  width: 100%;
  padding-top: 100%;
  background: url(../../assets/imgs/music-item-img-1.jpg) center/cover no-repeat;
  border-radius: 50%;
}
.dashboard__control {
  padding-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.dashboard__control:hover {
  cursor: pointer;
}
.dashboard__icon {
  width: 24px;
  height: 24px;
  transition: opacity 0.25s;
  filter: brightness(0) saturate(100%) invert(48%) sepia(58%) saturate(306%) hue-rotate(206deg) brightness(87%) contrast(92%);
}
.dashboard__icon:hover {
  opacity: 0.9;
}
.dashboard__icon-play {
  display: block;
  width: 60px;
  height: 60px;
  transition: opacity 0.25s;
  filter: var(--filter-primary);
}
.dashboard__icon-play:hover {
  opacity: 0.9;
}
.dashboard__icon-pause {
  filter: var(--filter-primary);
  display: none;
  width: 60px;
  height: 60px;
}

.progress {
  margin: 20px 0 0;
  width: 100%;
  height: 12px;
  background-color: #fff;
  border-radius: 999px;
  display: flex;
  outline: none;
}

input[type=range] {
  accent-color: #ef3679;
}

.music-bottom {
  margin-top: 10px;
  padding-top: 455px;
}

.music-item {
  margin-top: 8px;
  padding: 14px 18px 14px 14px;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  transition: opacity 0.25s, box-shadow 0.25s;
}
.music-item.active {
  background-color: #ef5c91;
}
.music-item.active .music-item__title, .music-item.active .music-item__desc, .music-item.active .music-item__setting {
  color: #fff;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(231deg) brightness(102%) contrast(101%);
}
.music-item:not(.active):hover {
  cursor: pointer;
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.music-item__img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}
.music-item__title {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 140%;
}
.music-item__desc {
  max-width: 220px;
  margin-top: 4px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 140%;
  text-transform: uppercase;
}
.music-item__setting {
  margin-left: auto;
  width: 24px;
  height: 24px;
}

/*# sourceMappingURL=main.css.map */
