*,
::after,
::before {
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --filter-primary: brightness(0) saturate(100%) invert(33%) sepia(49%)
        saturate(4823%) hue-rotate(320deg) brightness(99%) contrast(90%);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    background-image: radial-gradient(
        circle 369px at -2.9% 12.9%,
        rgba(247, 234, 163, 1) 0%,
        rgba(236, 180, 238, 0.56) 46.4%,
        rgba(163, 203, 247, 1) 100.7%
    );
}

@keyframes spinner {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}
